<div class="dialog_container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Add User</h1>
    <div mat-dialog-content>
        <div>
            <mat-form-field class="margin_right-16" appearance="outline">
                <mat-label>First name</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="First name">
                <!-- <mat-hint>Please enter a name</mat-hint> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="Last name">
                <!-- <mat-hint>Please enter a name</mat-hint> -->
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="full_width">
                <mat-label>E-Mail</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.email" matInput placeholder="E-Mail">
                <!-- <mat-hint>Please enter a name</mat-hint> -->
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="full_width">
                <mat-label>Birth Date</mat-label>
                <input [disabled]="loading" [(ngModel)]="birthDate" matInput [matDatepicker]="picker2" placeholder="Birth Date">
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
                <!-- <mat-hint>Please enter a date</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="full_width">
                <mat-label>Street + House No.</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Street + House No.">
                <!-- <mat-hint>Please enter a name</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="margin_right-16">
                <mat-label>Zip code</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput placeholder="Zip code">
                <!-- <mat-hint>Please enter a name</mat-hint> -->
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="City">
                <!-- <mat-hint>Please enter a name</mat-hint> -->
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button [disabled]="loading" (click)="dialogRef.close()">Cancel</button>
        <button mat-button [disabled]="loading" (click)="saveUser()" [mat-dialog-close]="" cdkFocusInitial>Save</button>
    </div>
</div>