.user_detail_header {
    min-height: 250px;
    background-color: #ff5b27;
    color: white;
    flex-direction: unset;
    align-items: flex-end;
    padding: 16px;

    img {
        height: 80px;
        width: 80px;
        border-radius: 100%;
        object-fit: cover;
    }
}

.user_details {
    height: 100px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h2 {
        margin-bottom: 0;
    }
}

.pin_right_upper_corner {
    position: absolute;
    top: 0;
    right: 0;
}